.event-card {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  padding: 0.5em;
  overflow: hidden;
  margin-bottom: 1.3em;
  background-color: #fff;
}

.event-info {
  padding: 0.3em 0.8em;
}

.event-name {
  text-transform: uppercase;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-details {
  display: block;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-location-date {
  display: block;
  font-size: 0.95em;
  white-space: nowrap;
  overflow: hidden;
  font-style: italic;
  text-overflow: ellipsis;
}

.event-logo {
  background-color: #f7f7f7;
  height: 200px;
}

.event-logo img {
  max-height: 70px;
  max-width: 70px;
  background: transparent;
}
