#main-search-text {
  border: 1px solid #eee;
  padding: 2em;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

#main-search-text:focus {
  background-color: #f7f7f7;
  border-color: #fff;
  border: 1px solid #ddd;
}
