{% extends 'main.html' %}

{% block header %}
    <div class="jumbotron headerr">
        <span class="thisFont">Create new event</span>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="mid_block_place">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.title }}
                    </div>
                    <hr/>
                    <div>
                        <div class="form-group">
                            {{ form.start_time }}
                            <br/>
                            {{ form.start_date }}
                        </div>
                        <div class="form-group">
                            {{ form.end_time }}
                            <br/>
                            {{ form.end_date }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.details }}
                    </div>

                    <div class="form-group">
                        {{ form.address }}
                    </div>

                    <div >
                        <input type="submit" class="btn btn-primary" value="Post" style="float: right"/>
                        <a class="btn btn-default"  href="/">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>


    <script>
        // initialize input widgets first
        $('.time0, .time1').timepicker({
            'showDuration': true,
            'timeFormat': 'g:ia'
        });

        $('.date0, .date1').datepicker({
            'format': 'dd-M-yyyy',
            'autoclose': true
        });
    </script>

{% endblock %}